<a href="https://colab.research.google.com/github/VivXwan/PepDSNotes/blob/main/Hackathon%201/Hackathon_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
df_test = pd.read_csv("test_file.csv")

In [4]:
df_train = pd.read_csv("train_file.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
df_test.head()

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ADDRESS,CITY,STATE,ZIP CODE,...,CONDITIONAL APPROVAL,LICENSE TERM START DATE,LICENSE TERM EXPIRATION DATE,LICENSE APPROVED FOR ISSUANCE,DATE ISSUED,LICENSE STATUS CHANGE DATE,SSA,LATITUDE,LONGITUDE,LOCATION
0,1516615-20120216,2132209,280120,1,RS HOMES I LLC,RS HOMES I LLC,350 W HUBBARD ST 3 300,CHICAGO,IL,60610.0,...,N,2012-02-16T00:00:00,2014-02-15T00:00:00,2012-01-19T00:00:00,2012-01-20T00:00:00,2012-12-29T00:00:00,NaN,41.890047,-87.637467,"{'latitude': '41.89004724888915', 'longitude':..."
1,69813-20110616,2090759,65043,1,CSX INTERMODAL INC,CSX INTERMODAL,2101 W 59TH ST 1ST,CHICAGO,IL,60636.0,...,N,2011-06-16T00:00:00,2013-06-15T00:00:00,2012-11-02T00:00:00,2012-11-05T00:00:00,2012-12-29T00:00:00,NaN,41.786485,-87.676665,"{'latitude': '41.786485235679486', 'longitude'..."
2,1519227-20041116,1541990,281270,1,LOCOMIBILE LOFTS LLC,LOCOMOBILE LOFTS LLC,1133 S WABASH AVE 1ST,CHICAGO,IL,60605.0,...,N,2004-11-16T00:00:00,2005-11-15T00:00:00,2004-12-06T00:00:00,2004-12-07T00:00:00,NaN,NaN,41.868269,-87.625695,"{'latitude': '41.86826924843568', 'longitude':..."
3,1922025-20100816,2041053,335243,1,ANNA F. JAMISON,ANNA F. JAMISON,13156 S FORRESTVILLE AVE,CHICAGO,IL,60827.0,...,N,2010-08-16T00:00:00,2012-08-15T00:00:00,NaN,2010-11-04T00:00:00,2012-12-31T00:00:00,NaN,41.655762,-87.608686,"{'latitude': '41.65576175146191', 'longitude':..."
4,1675683-20070816,1837158,283018,3,MARINCA A. COVARRUBIAS,DETAILS,4208 S ARCHER AVE,CHICAGO,IL,60632.0,...,N,2007-08-16T00:00:00,2009-06-15T00:00:00,2007-08-15T00:00:00,2007-08-16T00:00:00,2008-03-26T00:00:00,39.0,41.816969,-87.699785,"{'latitude': '41.81696910012824', 'longitude':..."

In [6]:
df_train.describe()

,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,WARD,PRECINCT,POLICE DISTRICT,LICENSE CODE,LICENSE NUMBER,SSA,LATITUDE,LONGITUDE
count,8.589500e+04,85895.000000,85895.000000,36194.000000,29194.000000,31883.000000,85895.000000,8.589400e+04,9449.000000,38649.000000,38649.000000
mean,1.751303e+06,196695.421701,2.556028,28.528927,54.632973,13.529812,1111.736620,1.228151e+06,29.152080,41.880952,-87.681165
std,3.358780e+05,126819.343760,8.655706,13.921710,163.174955,7.275874,250.020872,7.431487e+05,17.419898,0.079617,0.056248
min,3.079300e+04,10.000000,1.000000,1.000000,1.000000,1.000000,1002.000000,1.290000e+02,1.000000,41.644694,-87.915285
25%,1.469024e+06,54615.000000,1.000000,17.000000,12.000000,8.000000,1010.000000,8.710900e+04,17.000000,41.834312,-87.719150
50%,1.778754e+06,248313.000000,1.000000,30.000000,26.000000,14.000000,1010.000000,1.442202e+06,28.000000,41.892679,-87.673321
75%,2.067578e+06,300243.500000,2.000000,42.000000,41.000000,19.000000,1011.000000,1.816581e+06,40.000000,41.938624,-87.639509
max,2.456551e+06,397444.000000,417.000000,50.000000,999.000000,181.000000,8340.000000,2.391410e+06,69.000000,42.022660,-87.525872

In [7]:
df_test.describe()

,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,ZIP CODE,WARD,PRECINCT,POLICE DISTRICT,LICENSE CODE,LICENSE NUMBER,SSA,LATITUDE,LONGITUDE
count,5.723900e+04,57239.000000,57239.000000,57227.000000,56613.000000,55661.000000,55764.00000,57239.000000,5.723900e+04,15908.000000,56329.000000,56329.000000
mean,1.867003e+06,187884.083719,4.518685,60580.682982,28.072987,27.203105,13.16369,1243.865197,1.208141e+06,29.852653,41.879834,-87.678037
std,3.788378e+05,139139.743948,19.860738,2088.082252,14.587923,20.639461,7.11839,683.092249,8.530084e+05,17.447423,0.078721,0.055403
min,9.803000e+03,10.000000,1.000000,1830.000000,1.000000,1.000000,0.00000,1002.000000,4.300000e+01,1.000000,41.644712,-87.933977
25%,1.553288e+06,41316.000000,1.000000,60612.000000,16.000000,12.000000,8.00000,1010.000000,6.149350e+04,17.000000,41.834519,-87.713276
50%,1.912282e+06,222091.000000,1.000000,60624.000000,30.000000,26.000000,14.00000,1010.000000,1.473632e+06,29.000000,41.891538,-87.669686
75%,2.137864e+06,312884.000000,2.000000,60641.000000,42.000000,41.000000,18.00000,1275.000000,1.928348e+06,43.000000,41.938297,-87.635921
max,2.615886e+06,429413.000000,507.000000,98003.000000,50.000000,999.000000,25.00000,8344.000000,2.615886e+06,69.000000,42.022630,-87.525872

In [8]:
df_test.info()
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57239 entries, 0 to 57238
Data columns (total 31 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ID                                 57239 non-null  object
 1   LICENSE ID                         57239 non-null  int64
 2   ACCOUNT NUMBER                     57239 non-null  int64
 3   SITE NUMBER                        57239 non-null  int64
 4   LEGAL NAME                         57239 non-null  object
 5   DOING BUSINESS AS NAME             57237 non-null  object
 6   ADDRESS                            57239 non-null  object
 7   CITY                               57239 non-null  object
 8   STATE                              57239 non-null  object
 9   ZIP CODE                           57227 non-null  float64
 10  WARD                               56613 non-null  float64
 11  PRECINCT                           55661 non-null  float64
 12  WARD PRECINCT                      56623 non-null  object
 13  POLICE DISTRICT                    55764 non-null  float64
 14  LICENSE CODE                       57239 non-null  int64
 15  LICENSE DESCRIPTION                57239 non-null  object
 16  LICENSE NUMBER                     57239 non-null  float64
 17  APPLICATION TYPE                   57239 non-null  object
 18  APPLICATION CREATED DATE           12652 non-null  object
 19  APPLICATION REQUIREMENTS COMPLETE  56811 non-null  object
 20  PAYMENT DATE                       56188 non-null  object
 21  CONDITIONAL APPROVAL               57239 non-null  object
 22  LICENSE TERM START DATE            57121 non-null  object
 23  LICENSE TERM EXPIRATION DATE       57233 non-null  object
 24  LICENSE APPROVED FOR ISSUANCE      54860 non-null  object
 25  DATE ISSUED                        57239 non-null  object
 26  LICENSE STATUS CHANGE DATE         33993 non-null  object
 27  SSA                                15908 non-null  float64
 28  LATITUDE                           56329 non-null  float64
 29  LONGITUDE                          56329 non-null  float64
 30  LOCATION                           56329 non-null  object
dtypes: float64(8), int64(4), object(19)
memory usage: 13.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85895 entries, 0 to 85894
Data columns (total 32 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ID                                 85895 non-null  object
 1   LICENSE ID                         85895 non-null  int64
 2   ACCOUNT NUMBER                     85895 non-null  int64
 3   SITE NUMBER                        85895 non-null  int64
 4   LEGAL NAME                         85895 non-null  object
 5   DOING BUSINESS AS NAME             85894 non-null  object
 6   ADDRESS                            85895 non-null  object
 7   CITY                               85895 non-null  object
 8   STATE                              85895 non-null  object
 9   ZIP CODE                           85864 non-null  object
 10  WARD                               36194 non-null  float64
 11  PRECINCT                           29194 non-null  float64
 12  WARD PRECINCT                      36195 non-null  object
 13  POLICE DISTRICT                    31883 non-null  float64
 14  LICENSE CODE                       85895 non-null  int64
 15  LICENSE DESCRIPTION                85895 non-null  object
 16  LICENSE NUMBER                     85894 non-null  float64
 17  APPLICATION TYPE                   85895 non-null  object
 18  APPLICATION CREATED DATE           21235 non-null  object
 19  APPLICATION REQUIREMENTS COMPLETE  85681 non-null  object
 20  PAYMENT DATE                       84606 non-null  object
 21  CONDITIONAL APPROVAL               85895 non-null  object
 22  LICENSE TERM START DATE            85667 non-null  object
 23  LICENSE TERM EXPIRATION DATE       85877 non-null  object
 24  LICENSE APPROVED FOR ISSUANCE      79106 non-null  object
 25  DATE ISSUED                        85895 non-null  object
 26  LICENSE STATUS CHANGE DATE         30495 non-null  object
 27  SSA                                9449 non-null   float64
 28  LATITUDE                           38649 non-null  float64
 29  LONGITUDE                          38649 non-null  float64
 30  LOCATION                           38649 non-null  object
 31  LICENSE STATUS                     85895 non-null  object
dtypes: float64(7), int64(4), object(21)
memory usage: 21.0+ MB

In [9]:
df_train['LICENSE STATUS'].unique()

array(['AAI', 'AAC', 'REV', 'REA', 'INQ'], dtype=object)

In [10]:
x = df_train.drop('LICENSE STATUS',axis = 1)
y = df_train['LICENSE STATUS']

In [11]:
y[y=='AAI'] = 0
y[y=='AAC'] = 1
y[y=='REA'] = 2
y[y=='REV'] = 3
y[y=='INQ'] = 4
y = y.astype('int')
y.unique()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

array([0, 1, 3, 2, 4])

In [14]:
x.columns

Index(['ID', 'LICENSE ID', 'ACCOUNT NUMBER', 'SITE NUMBER', 'LEGAL NAME',
       'DOING BUSINESS AS NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP CODE',
       'WARD', 'PRECINCT', 'WARD PRECINCT', 'POLICE DISTRICT', 'LICENSE CODE',
       'LICENSE DESCRIPTION', 'LICENSE NUMBER', 'APPLICATION TYPE',
       'APPLICATION CREATED DATE', 'APPLICATION REQUIREMENTS COMPLETE',
       'PAYMENT DATE', 'CONDITIONAL APPROVAL', 'LICENSE TERM START DATE',
       'LICENSE TERM EXPIRATION DATE', 'LICENSE APPROVED FOR ISSUANCE',
       'DATE ISSUED', 'LICENSE STATUS CHANGE DATE', 'SSA', 'LATITUDE',
       'LONGITUDE', 'LOCATION'],
      dtype='object')

In [18]:
nicht_raw_df = df_train
nicht_raw_df['LICENSE STATUS'][nicht_raw_df['LICENSE STATUS']=='AAI'] = 0
nicht_raw_df['LICENSE STATUS'][nicht_raw_df['LICENSE STATUS']=='AAC'] = 1
nicht_raw_df['LICENSE STATUS'][nicht_raw_df['LICENSE STATUS']=='REA'] = 2
nicht_raw_df['LICENSE STATUS'][nicht_raw_df['LICENSE STATUS']=='REV'] = 3
nicht_raw_df['LICENSE STATUS'][nicht_raw_df['LICENSE STATUS']=='INQ'] = 4
nicht_raw_df['LICENSE STATUS'] = nicht_raw_df['LICENSE STATUS'].astype('int')
nicht_raw_df.corr()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,WARD,PRECINCT,POLICE DISTRICT,LICENSE CODE,LICENSE NUMBER,SSA,LATITUDE,LONGITUDE,LICENSE STATUS
LICENSE ID,1.000000,0.359277,0.067159,0.005275,-0.138596,-0.041838,0.010405,0.476062,0.034191,-0.023492,0.004883,0.258712
ACCOUNT NUMBER,0.359277,1.000000,-0.149178,0.009602,-0.094132,-0.029867,0.063140,0.790922,0.051646,-0.012561,0.017993,0.051054
SITE NUMBER,0.067159,-0.149178,1.000000,-0.015393,-0.030387,0.011103,0.109418,0.042001,0.023474,-0.005174,0.042247,0.077070
WARD,0.005275,0.009602,-0.015393,1.000000,0.053996,0.487728,-0.040709,0.007125,-0.147276,0.667520,-0.233630,-0.062398
PRECINCT,-0.138596,-0.094132,-0.030387,0.053996,1.000000,0.184356,-0.026586,-0.121079,0.095194,0.097531,-0.105979,-0.329453
POLICE DISTRICT,-0.041838,-0.029867,0.011103,0.487728,0.184356,1.000000,0.048442,-0.042338,-0.014021,0.619882,-0.455247,-0.029107
LICENSE CODE,0.010405,0.063140,0.109418,-0.040709,-0.026586,0.048442,1.000000,0.069720,0.062682,-0.009484,-0.001010,0.138367
LICENSE NUMBER,0.476062,0.790922,0.042001,0.007125,-0.121079,-0.042338,0.069720,1.000000,0.047638,-0.010265,0.029111,0.063495
SSA,0.034191,0.051646,0.023474,-0.147276,0.095194,-0.014021,0.062682,0.047638,1.000000,-0.039811,0.078811,0.122995
LATITUDE,-0.023492,-0.012561,-0.005174,0.667520,0.097531,0.619882,-0.009484,-0.010265,-0.039811,1.000000,-0.404510,-0.016495
LONGITUDE,0.004883,0.017993,0.042247,-0.233630,-0.105979,-0.455247,-0.001010,0.029111,0.078811,-0.404510,1.000000,0.011601
LICENSE STATUS,0.258712,0.051054,0.077070,-0.062398,-0.329453,-0.029107,0.138367,0.063495,0.122995,-0.016495,0.011601,1.000000

In [26]:
nicht_raw_df['DOING BUSINESS AS NAME'].unique().size

41687

In [19]:
nicht_raw_df.isna().sum()

ID                                       0
LICENSE ID                               0
ACCOUNT NUMBER                           0
SITE NUMBER                              0
LEGAL NAME                               0
DOING BUSINESS AS NAME                   1
ADDRESS                                  0
CITY                                     0
STATE                                    0
ZIP CODE                                31
WARD                                 49701
PRECINCT                             56701
WARD PRECINCT                        49700
POLICE DISTRICT                      54012
LICENSE CODE                             0
LICENSE DESCRIPTION                      0
LICENSE NUMBER                           1
APPLICATION TYPE                         0
APPLICATION CREATED DATE             64660
APPLICATION REQUIREMENTS COMPLETE      214
PAYMENT DATE                          1289
CONDITIONAL APPROVAL                     0
LICENSE TERM START DATE                228
LICENSE TERM EXPIRATION DATE            18
LICENSE APPROVED FOR ISSUANCE         6789
DATE ISSUED                              0
LICENSE STATUS CHANGE DATE           55400
SSA                                  76446
LATITUDE                             47246
LONGITUDE                            47246
LOCATION                             47246
LICENSE STATUS                           0
dtype: int64

In [ ]:
nicht_raw_df.unique()

In [ ]:
x.drop(['ID', 'ACCOUNT NUMBER', 'LEGAL NAME', 'DOING BUSINESS AS NAME', 'ADDRESS'], axis = 1)